.container {
  height: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  
  padding: 1rem 3rem;

  background: #121317;
  
  a {
    text-decoration: none;
    color:  #FFE81F;
    transition: filter 0.2s, transform 0.2s;

    &:hover {
      filter: brightness(0.8);
      transform: scale(1.03);
    }

    &:first-child{
      margin-right: 4rem;
    }

    & + a {
      margin-left: 5rem;
    }
  }

  @media screen and (max-width: 760px) {
    padding: 1rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      padding-right: 3rem;
      transform: scale(1.8);
      color: #FFE81F;
      cursor: pointer;
    }

    > a {
      margin-right: 0;
      padding-left: 1rem;
    }
  }
}
