.container {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3rem;
  justify-items: center;
  align-items: center;
  color: #FFE81F;
  font-size: 1rem;

  .movieContainer {
    padding: 1rem;
    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: 190px;
    width: 180px;

    text-align: center;
    font-weight: 700;

    background: #23252c;

    transition: transform 0.4s;

    &:hover{
      cursor: pointer;
      transform: scale(1.1);
    }
  } 
}

@media screen and (max-width: 760px) {
  .container {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #FFE81F;
    font-size: 1rem;
  }

  .movieContainer {
    margin-bottom: 2.5rem;

    &:last-child{
      margin-bottom: 5rem;
    }
  }
}